.sp_dsp {
    display: none;
}
.pc_bgc {
    background-color: #ff7e7e;
}

.mini_logo {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.qr {
    display: block;
    margin: 0 auto;
    width: 25%;
}

.none h1 {
    margin: 20px auto;
    text-align: center;
}

.none{
    margin: 0;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}