@charset "UTF-8";



html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    
    margin: 0px;
    padding: 0px;
    /*font-family: serif;*/
    text-shadow: 2px 2px 3px #efb4e7;
    line-height: 1.7;
}

body {
    background: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 1.4;
    min-width: 10%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    opacity: 0.5;
    border: 0px;
    vertical-align: bottom;
}

body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "hiragino kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
    background-color: rgb(249, 242, 253);
}


header {
    text-shadow: 2px 2px 3px rgb(248, 164, 216);
    position: fixed;
    width: 100%;
    font-family: serif;
    text-align: left;
}

/*ハンバーガーメニューの時
header .hum_menu {
    position: absolute;
    right: 0px;
    top: 0px;
}

header .hum_menu a {
    display: block;
    height: 20px;
    width: 40px;
    padding: 10px 0;
    background-color: #eeeaec;
    text-align: center;
}

header .hum_menu span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #aaa;
    margin: 3px auto;
}

header ul {
    display: none;
    margin-right: 40px;
}

header ul li {
    width: 50%;
    color: #acacac;
    line-height: 40px;
    text-align: left;
    font-size: 12px;
    text-indent: 8px;
}

header ul li a {
    display: block;
    border: 1px solid #555;
    border-width: 1px 1px 0 0;
}

header.open {
    background-color: #eeeaec;
}

header.open ul {
    display: flex;
    flex-wrap: wrap;
}*/

section {
    text-align: center;
    padding: 9px 0 50px 0;
}

section h1 {
    font-size: 17px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 50px;
    font-weight: 200;
    text-align: center;
    
    display: block;
}

section h2 {
    
    font-size: 19px;
    margin-bottom: 10px;
}

.box {
    max-width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



#title_1 {
    background-image: url(../static/img/img/photo-1492725764893-90b379c2b6e7.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: contain;
    
}

#title_1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 100px;
}

#title_1 h1 br {
    display: block;
}

#text_1 .flex_area {
    display: block;
}

#text_1 .flex_area div h2 {
    font-size: 20px;
    margin-bottom: auto;
}

#text_1 .flex_area div p {
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 14px;
    display: ;
}

/*#btn_1 {
    background-image: url(../static/img/);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(145, 32, 32);
    background-attachment: fixed;
}*/

#btn_1 p {
    font-size: 14px;
    line-height: 2;
    margin: 5px;
    text-align: left;
}



footer {
    height: 80px;
    background-color: #eeeaec;
}

footer .copyright {
    color: #acacac;
    font-size: 12px;
    padding-top: 30px;
    letter-spacing: 1px;
}

.btn-hosii {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 20%;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    /*background-image: url(../static/img/img/icon_113430_64.png);*/
    background-image: linear-gradient(45deg, #ff97ec 0%, #de9ffc 100%);
    transition: .4s;
    font-size: 20px;
    }
    

    .btn-kifu {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 20%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg,#67f53c 0%, #acfaa9 100%);
    transition: .4s;
    font-size: 20px;
    
}

