<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <link rel="stylesheet" href="../static/style.css" media="screen and (max-width:420px)">
    <link rel="stylesheet" href="../static/style.pc.css" media="screen and (min-width:421px)">




    <title>HugHug</title>


</head>

<body>

    <header>
        <h2 style="background:rgb(252, 230, 233);">*HugHug*</h2>
    </header>


    <article>

        <section id="title_1">
            <h1 style="text-shadow: 2px 2px 3px rgb(253, 141, 248);">いっしょにわらうと<br>いっぱいたのしい</h1>
        </section>


        <section id="text_1">

            <h2 style="font-family: serif;">-忙しい方向けの幼児期衣類提供サイト-<br></h2>
            <u>
                <p>子供の成長はあっという間ですよね...<br>
                    特に乳幼児の衣類はすぐにサイズが変わるため<br>
                    買い替えたり処分したりと手間がかかる...<br>
                    そんな忙しいあなたへボタン一つで引取りから<br>発送まで行なっているサイトです。
                </p>
            </u>

            <div class="box flex_area">

            </div>
        </section>

        <section id="btn_1">
            <div class="box">

                <form action="/login" method="GET"><input type="submit" class="btn-hosii" value="欲しい">
                </form>
                <p style="display: inline;">デザインやサイズは選べません。<br>
                    80cm〜100cmまでの上下12着が<br>
                    ランダムで届きます。</p>

                <form action="/kifu"><input type="submit" class="btn-kifu" value="寄付"></form>
                <p style="display: inline;padding: 0 0 25px 21px;">持ち込みあるいは<br>下記の住所まで郵送をお願いします。
                </p>

                <div id="add">

                    <div style="background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px;
                        word-break:break-all; text-align: left;">
                        宛先：〒123-4567<br>
                        砂箱県砂箱市くまモン町123-4<br>
                        <br>
                        <span class="name">熊 門 太 郎</span><br>
                        <br>
                        電話：123-4567-8946<br>
                        E-mail：kumamo@yatsushiro5h.ne.jp
                    </div>
                </div>
            </div>
        </section>
    </article>

    <footer>
        <p class="copyright">SUNABACO©︎yatsushiro5h.</p>
    </footer>

</body>

</html>