<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Document</title>
</head>

<body>
    <h1 style="color: crimson;">※注意事項</h1>
    <p style="text-align: left;">デザインやサイズは選べません。<br>
        80cm〜100cmまでの上下12着が<br>
        ランダムで届きます。</p>
    <form action="/login" method="POST">
        <p>性別<br>
            <input type="radio" name="q1" value="女の子"> ♀女の子
            <input type="radio" name="q1" value="男の子"> ♂男の子
        </p>
        <div class="inputs">
            <label class="label">名前</label>
            <input class="input_form" type="text" name="name">
        </div>
        <div class="inputs">
            <label class="label">住所</label>
            <input class="input_form" type="text" name="address">
        </div>
        <div class="inputs">
            <label class="label">メールアドレス</label>
            <input class="input_form" type="email" name="email">
        </div>
        <div class="inputs">
            <label class="label">備考</label>
            <textarea class="input_form" name="remark"></textarea>
        </div>
        <div class="btn-area">
            <input type="reset" value="リセット">

            <input type="submit" name="save" value="送信" style="background: #faa7a7;
            border: none;
            color: #fff;
            font-size:15px;
            font-weight:bold;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 10px;">
        </div>
    </form>
</body>

</html>