<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/qa.css">
    <title>励ましの言葉</title>
</head>

<body>
    <header>

        <h1>～つらいときに救われた言葉～</h1>

    </header>

    <article>
        <strong>
            <h2>子育ての悩みを抱えるママパパたちへ</h2>
        </strong>
        <u>
            <p>
                いつもワンオペ育児で、どれだけ片づけても部屋はすぐに散らかり、子どものオムツはなかなかとれず、保育園から呼び出しがあれば周りに気を遣いながら職場を早退……。子どもの成長はうれしいけれど、子育て中は大変なこともいっぱいありますよね。そこで、今回は「育児がつらいときに、身近な人に言われて心が軽くなった言葉」を集めてみました！
                その言葉の数々をご紹介します！
            </p>
        </u>
        <p></p>





    </article>
















</body>

</html>